<div class="content-block">
    <div class="custom-table mb-4">
      <table>
        <thead class="table-hdr">
          <tr>
            <th style="width:20%" *ngFor="let list of headers; let i = index">
              {{ list.label }}
            </th>
          </tr>
        </thead>
        <tbody class="table-body" *ngIf="dataArr?.length > 0">
          <tr *ngFor="let list of dataArr; let i = index">
            <!-- <td>
                      {{ list.questionnaireId }}
                    </td> -->
            <td>
              {{ list.imageScaleName }}
            </td>
            <td>
                {{ list.frequencyName }}
              </td>
            <td>
              {{ list.startDate }}
            </td>
            <td>
              {{ list.endDate }}
            </td>
          </tr>
        </tbody>
        <tbody class="table-body" *ngIf="dataArr?.length == 0">
          <tr>
            <td>No Records Found</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div class="float-right">
          <!-- <button type="submit">submit</button>&nbsp;&nbsp; -->
          <button class="btn btn-secondary" type="button" (click)="back()">Back</button> &nbsp;&nbsp;
          <button class="btn btn-primary" type="button" (click)="next()">Next</button>      
        </div>
      </div>
    </div>
  </div>