<form [formGroup]="petInfoForm" (ngSubmit)='onSubmit(petInfoForm.value)'>
    <div class="content-box">
        <div class="content-block">
            <div class="row mb-3">
                <div class="col-6">
                    <fieldset class="w-fieldset">
                        <legend><label class="label">Pet Image</label></legend>
                        <input type="file" class="form-control" id="petPhoto" title=""
                            (change)="selectFileResult($event)">
                    </fieldset>
                    <a href="javascript:void(0)" class="filedec"
                        title="{{petInfoForm.value.petImageFileName}}">{{petInfoForm.value.petImageFileName}}</a>
                    <validation-message [control]="petInfoForm.controls.petImage"></validation-message>
                </div>

                <div class="col-6">
                    <fieldset class="w-fieldset">
                        <legend><label class="label">Pet Name <span class="asterisk">*</span></label></legend>
                        <input formControlName="petName" type="text" class="form-control textbox w-100" maxlength="" />
                    </fieldset>
                    <validation-message [control]="petInfoForm.controls.petName"></validation-message>
                </div>

            </div>

            <div class="row mb-3">
                <div class="col">
                    <fieldset class="w-fieldset">
                        <legend><label class="label">Species <span class="asterisk">*</span></label></legend>
                        <!-- <lib-typeahead [data]="speciesArr" matcher="speciesName" formControlName="species" class="w-100 mb-0"
                            placeholder="" class="w-100">
                        </lib-typeahead> -->
                        <select class="form-control w-100" formControlName="species" (change)="speciesSelected($event)">
                            <option value="">Select</option>
                            <option *ngFor='let list of speciesArr' [value]="list.speciesId">{{list.speciesName}}
                            </option>
                        </select>
                    </fieldset>
                    <validation-message [control]="petInfoForm.controls.species"></validation-message>
                </div>
                <div class="col">
                    <fieldset class="w-fieldset">
                        <legend><label class="label">Breed <span class="asterisk">*</span></label></legend>
                        <lib-typeahead [data]="petInfoForm.value.species ? newAArr : []" matcher="breedName"
                            formControlName="breed" class="w-100 mb-0" placeholder="" class="w-100"
                            (selectedItem)="breedSelected($event)">
                        </lib-typeahead>
                    </fieldset>
                    <validation-message [control]="petInfoForm.controls.breed"></validation-message>
                </div>

                <!-- <div class="col" *ngIf="!editFlag">
                    <fieldset class="w-fieldset">
                        <legend> <label class="label">Weight</label></legend>
                        <input style="width:76%;float:left;" type="text" formControlName="weight"
                            class="form-control textbox" maxlength="" />
                        <select style="width:24%;" class="select-cstom-control form-control"
                            formControlName="weightUnits">
                            <option value="LBS">LBS</option>
                            <option value="KGS">KGS</option>
                        </select>
                    </fieldset>
                    <validation-message [control]="petInfoForm.controls.weight"></validation-message>
                </div> -->
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <fieldset class="w-fieldset">
                        <legend><label class="label w-100">Gender </label></legend>
                        <select class="form-control w-100" formControlName="gender">
                            <option value="">Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </fieldset>
                    <!-- <validation-message [control]="petInfoForm.controls.gender"></validation-message> -->
                </div>
                <div class="col-4">
                    <fieldset class="w-fieldset">
                        <legend><label class="label">Date of Birth </label></legend>
                        <datepicker class="w-100" formControlName="dateofBirth" format="MM-DD-YYYY"
                            [maxDate]="startDate"></datepicker>
                    </fieldset>
                    <!-- <validation-message [control]="petInfoForm.controls.dateofBirth"></validation-message> -->
                </div>
                <div class="col-2">
                    <fieldset [disabled]="!petInfoForm.value.dateofBirth">
                        <label class=" label w-100">Approximate</label>
                        <input type="checkbox" class="checkbox-width-20"
                            [checked]="(petInfoForm.value.dateofBirth && petInfoForm.value.isDobUnknown) ? true : false"
                            formControlName="isDobUnknown" />
                    </fieldset>
                </div>


            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <fieldset class="w-fieldset">
                        <legend><label class="label w-100">Spayed/Neutered </label>
                        </legend>
                        <select class="form-control w-100" formControlName="category">
                            <option value="">Select</option>
                            <option value="Neutered">Yes</option>
                            <option value="Spayed">No</option>
                        </select>
                    </fieldset>
                    <!-- <validation-message [control]="petInfoForm.controls.category"></validation-message> -->
                </div>
                <div class="col-6">
                    <fieldset class="w-fieldset" [disabled]="editFlag && petInfoForm.value.statusDisable">
                        <legend><label class="label w-100">Status <span class="asterisk">*</span></label></legend>
                        <select class="form-control w-100" formControlName="status" (change)="statusChanged()">
                            <ng-container *ngFor="let status of statusArr">
                                <option [value]="status.petStatusId" *ngIf="status.petStatusId == 1 && !isVirtual">
                                    {{status.statusName}}
                                </option>
                                <option [value]="status.petStatusId" *ngIf="status.petStatusId != 1">
                                    {{status.statusName}}</option>
                            </ng-container>
                        </select>
                    </fieldset>
                    <validation-message [control]="petInfoForm.controls.status"></validation-message>
                </div>
            </div>

            <div class="row mb-3" *ngIf="petInfoForm.value.status == 3">
                <div class="col-6">
                    <fieldset class="w-fieldset">
                        <legend> <label class="label">Date of Death <span class="asterisk">*</span> </label>
                        </legend>
                        <datepicker class="w-100" formControlName="dateOfDeath" format="MM-DD-YYYY"
                            [maxDate]="startDate"></datepicker>
                    </fieldset>
                    <validation-message [control]="petInfoForm.controls.dateOfDeath"></validation-message>
                </div>

                <div class="col-6 m-auto">
                    <fieldset>
                        <label class=" label w-100">Approximate</label>
                        <input type="checkbox" class="checkbox-width-20" formControlName="isApproximateDateOfDeath" />
                    </fieldset>
                </div>
            </div>

            <div class="row mb-3" *ngIf="petInfoForm.value.status == 4">
                <div class="col-6">
                    <fieldset class="w-fieldset">
                        <legend> <label class="label">Date of Lost to Follow Up <span class="asterisk">*</span> </label>
                        </legend>
                        <datepicker class="w-100" formControlName="lostToFollowUpDate" format="MM-DD-YYYY"
                            [maxDate]="startDate"></datepicker>
                    </fieldset>
                    <validation-message [control]="petInfoForm.controls.lostToFollowUpDate"></validation-message>
                </div>

                <div class="col-6 m-auto">
                    <fieldset>
                        <label class=" label w-100">Approximate</label>
                        <input type="checkbox" class="checkbox-width-20" formControlName="isApproxLostToFollowUpDate" />
                    </fieldset>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <fieldset>
                        <input type="checkbox" formControlName="isPetWithPetParent"
                            (change)="onCheckIsPetWithPetParent()" />
                        <label class="label ml-2">Pet address is same as pet parent address</label>
                    </fieldset>
                </div>
            </div>

            <div class="row mb-3" *ngIf="!petInfoForm.value.isPetWithPetParent">
                <div class="col-12">
                    <fieldset class="w-fieldset mb-3">
                        <legend>
                            <label class="label-hdr">Pet Address</label>
                        </legend>
                        <div class="row" formGroupName="petAddress">
                            <div class="col-4 mb-3">
                                <fieldset class="w-fieldset">
                                    <legend> <label class="label">Address Line 1 <span class="asterisk">*</span></label>
                                    </legend>
                                    <input type="text" class="form-control textbox w-100" formControlName="address1"
                                        maxlength="50">
                                </fieldset>
                                <validation-message [messageToAppend]=""
                                    [control]="petInfoForm.get('petAddress').controls.address1">
                                </validation-message>
                            </div>
                            <div class="col-4 mb-3">
                                <fieldset class="w-fieldset">
                                    <legend> <label class="label">Address Line 2</label>
                                    </legend>
                                    <input type="text" class="form-control textbox w-100" formControlName="address2"
                                        maxlength="50">
                                </fieldset>
                            </div>
                            <div class="col-4 mb-3">
                                <fieldset class="w-fieldset">
                                    <legend> <label class="label">City <span class="asterisk">*</span></label></legend>
                                    <input type="text" class="form-control textbox w-100" formControlName="city"
                                        (blur)="validateAddress()" maxlength="50">
                                </fieldset>
                                <validation-message [messageToAppend]=""
                                    [control]="petInfoForm.get('petAddress').controls.city">
                                </validation-message>
                            </div>
                            <div class="col-3 mb-3">
                                <fieldset class="w-fieldset">
                                    <legend> <label class="label">State <span class="asterisk">*</span></label></legend>
                                    <input type="text" class="form-control textbox w-100" formControlName="state"
                                        (blur)="validateAddress()" maxlength="50">
                                </fieldset>
                                <validation-message [messageToAppend]=""
                                    [control]="petInfoForm.get('petAddress').controls.state">
                                </validation-message>
                            </div>
                            <div class="col-3 mb-3">
                                <fieldset class="w-fieldset">
                                    <legend> <label class="label">Country <span class="asterisk">*</span></label>
                                    </legend>
                                    <input type="text" class="form-control textbox w-100" formControlName="country"
                                        (blur)="validateAddress()" maxlength="30">
                                </fieldset>
                                <validation-message [messageToAppend]=""
                                    [control]="petInfoForm.get('petAddress').controls.country">
                                </validation-message>
                            </div>
                            <div class="col-3 mb-3">
                                <fieldset class="w-fieldset">
                                    <legend> <label class="label">Zipcode <span class="asterisk">*</span></label>
                                    </legend>
                                    <input type="text" class="form-control textbox w-100" formControlName="zipCode"
                                        (blur)="validateAddress()">
                                </fieldset>
                                <validation-message [messageToAppend]=""
                                    [control]="petInfoForm.get('petAddress').controls.zipCode">
                                </validation-message>
                            </div>
                            <div class="col-3 mb-3">
                                <fieldset class="w-fieldset">
                                    <legend> <label class="label">Timezone </label></legend>
                                    <input type="text" class="form-control textbox w-100" formControlName="timeZone"
                                        disabled>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- <button type="submit">submit</button>&nbsp;&nbsp; -->
                    <div class="float-right">
                        <button class="btn btn-secondary" type="button" routerLink="/user/patients"
                            [queryParams]="queryParams">
                            Cancel
                        </button>&nbsp;&nbsp;
                        <button class="btn btn-primary" type="button" (click)="next()">Next</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<ng-template #archiveContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">
            Change Pet Status ?
        </h5>
        <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click');enableSelection()">
                <div class="close-wrapper">
                    <span aria-hidden="true">×</span>
                </div>
            </button> -->
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');cancelPetStatus()">
            <div class="close-wrapper">
                <span class="icon-close" aria-hidden="true"></span>
            </div>
        </button>
    </div>
    <div class="modal-body">

        <div class="row mb-4">
            <div class="col-12">
                Do you want to change the pet status to <span style="color:red">{{this.petInfoForm.value.status == "1" ?
                    'Off Study' : (this.petInfoForm.value.status == "3" ? 'deceased' : 'Lost to Follow Up')}} </span> ?
                Pet will be
                disassociated from associated studies.
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 mb-4">
                <button type="button" class="btn btn-primary btn-custom mr-3" (click)="d('Cross click');changeValue()">
                    Yes
                </button>
                <button type="button" class="btn btn-secondary btn-custom" (click)="d('Cross click');unChangeValue();">
                    No
                </button>
            </div>
        </div>

    </div>
</ng-template>