<div class="content-block">
  <div class="custom-table mb-4">
    <table>
      <thead class="table-hdr">
        <tr>
          <th *ngFor="let list of headers; let i = index">
            {{ list.label }}
          </th>
        </tr>
      </thead>
      <tbody class="table-body" *ngIf="dataArr?.length > 0">
        <ng-container *ngIf="userFlag">
          <tr *ngFor="let list of dataArr; let i = index">
            <td>
              {{ list.contactName }}
            </td>
            <td>
              {{ list.activity }}
            </td>
            <td>
              {{ list.description }}
            </td>
            <td>
              {{ list.date }}
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="clinicFlag">
          <tr *ngFor="let list of dataArr; let i = index">
            <td>
              {{ list.contactName }}
            </td>
            <td>
              {{ list.activity }}
            </td>
            <td>
              {{ list.description }}
            </td>
            <td>
              {{ list.date }}
            </td>
          </tr>
        </ng-container>
      </tbody>
      <tbody class="table-body" *ngIf="dataArr?.length == 0">
        <tr>
          <td>No Records Found</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <div class="float-right">
        <!-- <button type="submit">submit</button>&nbsp;&nbsp; -->
        <button class="btn btn-secondary" type="button" (click)="back()">Back</button>
      </div>
    </div>
  </div>
</div>