.radio-input-wrapper {
    margin-bottom: 15px;
}
.label-hdr{
    font: normal normal bold 16px/13px Titillium Web;
    letter-spacing: -0.54px;
    color: #000000;
    margin-bottom: 20px;
}
.label {
    font: normal normal normal 14px/15px Titillium Web;
    letter-spacing: -0.3px;
    color: #4B4B5A;
}