<div class="container-fluid ">
    <div class="row authentication-blk">
        <div class="loginbg">
            <div class="login-pg">
                <img src="assets/images/loginbg.svg">
            </div>
        </div>
        <div class="petImg col-lg-7 col-md-6 col-sm-8 p-0">
            <img src="assets/images/petImg.png" style="width:100%;" />
        </div>
        <div class="
        col-lg-3 col-md-5 col-sm-10 offset-sm-1 align-vertically">
            <div class="loginlogo mb-2">
                <div class="logo-img"><img src="assets/images/logo-wearables.svg" /></div>
            </div>
            <!-- chnages -->
            <router-outlet></router-outlet>
        </div>

    </div>
</div>