<div class="content-box">
  <div class="content-hdr">
    <div class="row">
      <div class="col-6 block-left-center">
        Audit
      </div>
      <div class="col-6">
        <div class="float-right">
        </div>
      </div>
    </div>
  </div>
  <div class="content-blk">
    <datatable *ngIf="showDataTable" [headers]="headers" [hideExport]="true" defaultColumn=""
      [filterTypeArr]="filterTypeArr" placeholder="Search" dir="DESC" url="/api/auditLogs"
      (formatter)="formatter($event)" (nodeAction)="getNode($event)" pageName="Audit">
    </datatable>
  </div>
</div>