<div class="content-box">
    <div class="content-hdr">
        <div class="row">
            <div class="col-6 block-left-center">
                <span>View Campaign </span>
            </div>
            <div class="col-6">
                <div class="float-right">
                    <button *ngIf="RWFlag" class="btn btn-primary" type="button" (click)="editPage()">Edit
                        Campaign</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-blk">
        <div class="navtabsBackground">
            <ul ngbNav class="row nav-tabs tabsDesign nav">
                <li class="col" [ngbNavItem]="flatTab.name" *ngFor="let flatTab of flatTabs">
                    <a ngbNavLink [routerLink]="flatTab.link" routerLinkActive="active-link" [queryParams]="queryParams"
                        (click)="activateTab(flatTab)"><span>{{ flatTab.name }}</span></a>
                </li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>