<div class="content-box reports-list">
    <!-- <div class="content-hdr">
        <div class="row">
            <div class="col-12 block-left-center">
                Pet Questionnaire Response
            </div>
        </div>
    </div> -->
    <div class="content-hdr">
        <div class="row">
            <div class="col-6 block-left-center">
                Pet Questionnaire Response: {{petName}}
            </div>
            <div class="col-6">
                <div class="float-right">
                    <!-- <button class="btn btn-primary" type="button" >Add New Study</button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="content-blk">
        <reports-datatable [headers]="headers" [filterTypeArr]="filterTypeArr" [hideExport]="false" [isReport]="true"
            fileName={{reportName}} [hideExcel]="false" pageName="reportsPage" exportTitle={{reportName}}
            placeholder="Search" (nodeAction)="getNode($event)" (formatter)="formatter($event)"
            defaultColumn="modifiedDate" dir="DESC" url={{this.url}} [petQuesId]="petId">
        </reports-datatable>
        <!-- pageName="questionnaireResponse" -->
    </div>
</div>

<ng-template #quesContent let-data="rowData">
    <span class="ques-answer-style">{{data.questionName}}</span><br>
    <ng-container *ngIf="data.questionImageUrl">
        <span class="ques-resp-media" (click)="openMedia(data.questionImageUrl)">
            <img [src]="data.questionImageUrl">
        </span>
    </ng-container>
</ng-template>

<ng-template #answerContent let-data="rowData">
    <span class="ques-answer-style" *ngIf="!(data.questionTypeId == 7 || data.questionTypeId == 8); else media">
        {{ ((data.questionTypeId != 9) ? data.answer : (data.answer | date:
        'MM/dd/yyyy'))
        || '-'}}
    </span>
    <ng-template #media>
        <ng-container *ngIf="data?.questionTypeId == 7">
            <span class="ques-resp-media" *ngFor="let img of data?.answer?.split(',')"
                (click)="openMedia(img, data.questionTypeId)">
                <img [src]="sanitizeURL(img)">
            </span>
        </ng-container>
        <ng-container *ngIf="data?.questionTypeId == 8">
            <span class="ques-resp-media" *ngFor="let vid of data?.answer?.split(',')"
                (click)="openMedia(vid, data.questionTypeId)">
                <video *ngIf="data.questionTypeId == 8">
                    <source [src]="sanitizeURL(vid)" type="video/mp4">
                </video>
            </span>
        </ng-container>
    </ng-template>
</ng-template>

<ng-template #mediaContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">
            {{'View ' + (selectedMedia.type == 8 ? 'Video' : 'Image')}}
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <div class="close-wrapper">
                <span aria-hidden="true">&#10006;</span>
            </div>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mb-4" *ngIf="selectedMedia.type == 8; else image">
            <div class="col-12 video-wrapper">
                <video controls class="p-video videopath" controls autoplay width="100%" style="margin:0 auto;">
                    <source [src]="selectedMedia.url" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <ng-template #image>
            <div class="row mb-4 vertical-scroll">
                <div class="col-12">
                    <img [src]="selectedMedia.url" alt="pet" class="img-fluid" />
                </div>
            </div>
        </ng-template>
        <div class="row text-right">
            <div class="col-12 mb-4">
                <button type="button" class="btn btn-secondary btn-custom float-right" (click)="d('Cross click');">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</ng-template>