<div class="content-box">
    <div class="content-hdr">
        <div class="row">
            <div class="col-12 block-left-center">
                Questionnaire Response
            </div>
        </div>
    </div>

    <div class="content-blk">
        <div class="content-block">
            <div class="row que-header content-banner px-0 pb-4 pt-2">
                <div class="col">
                    <div class="small-text">Questionnaire Name</div>
                    <div class="green-small-text">{{this.questionnaireName}}</div>
                </div>
                <div class="col">
                    <div class="small-text">Pet Parent</div>
                    <div class="green-small-text">{{this.petParentName}}</div>
                </div>
                <div class="col">
                    <div class="small-text">Pet Name</div>
                    <div class="green-small-text">{{this.petName}}</div>
                </div>
                <div class="col">
                    <div class="small-text">Study</div>
                    <div class="green-small-text">{{this.study || '-'}}</div>
                </div>
                <div class="col">
                    <div class="small-text">Submitted On</div>
                    <div class="green-small-text">{{this.submittedOn}}</div>
                </div>
            </div>
            <div class="row" *ngIf="!isSectionWise">
                <div class="col mt-3 custom-table">
                    <table>
                        <tbody class="table-body" *ngIf="questionnaireResponseList?.length > 0">
                            <tr *ngFor="let list of questionnaireResponseList; let i = index">

                                <td class="question">
                                    <span class="question-number">{{'Q'+(i+1)}}</span> &nbsp;{{ list.question }}<br>
                                    <ng-container *ngIf="list.questionImageUrl">
                                        <span class="ques-resp-media" (click)="openMedia(list.questionImageUrl)">
                                            <img [src]="list.questionImageUrl">
                                        </span>
                                    </ng-container>
                                </td>
                                <td class="answer">
                                    <span *ngFor="let answer of list.answers">
                                        <div class="row">
                                            <div class="col-9"
                                                *ngIf="!(list?.questionTypeId == 7 || list?.questionTypeId == 8); else media">
                                                {{ ((list.questionTypeId != 9) ? answer.answer : (answer.answer | date:
                                                'MM/dd/yyyy'))
                                                || '-'}}
                                            </div>
                                            <div class="col-3" *ngIf="answer.mediaUrl">
                                                <ng-container *ngIf="answer.mediaType == 1">
                                                    <span class="ques-resp-media"
                                                        (click)="openMedia(answer.mediaUrl, list.questionTypeId)">
                                                        <img [src]="answer.mediaUrl">
                                                    </span>
                                                </ng-container>
                                                <ng-container *ngIf="answer.mediaType == 2">
                                                    <span class="ques-resp-media"
                                                        (click)="openMedia(answer.mediaUrl, list.questionTypeId)">
                                                        <video>
                                                            <source [src]="answer.mediaUrl" type="video/mp4">
                                                        </video>
                                                    </span>
                                                </ng-container>
                                            </div>
                                        </div>

                                        <ng-template #media>
                                            <div class="col-3 offset-9">
                                                <ng-container *ngIf="list?.questionTypeId == 7">
                                                    <span class="ques-resp-media"
                                                        (click)="openMedia(answer.answer, list.questionTypeId)">
                                                        <img [src]="answer.answer">
                                                    </span>
                                                </ng-container>
                                                <ng-container *ngIf="list?.questionTypeId == 8">
                                                    <span class="ques-resp-media"
                                                        (click)="openMedia(answer.answer, list.questionTypeId)">
                                                        <video>
                                                            <source [src]="answer.answer" type="video/mp4">
                                                        </video>
                                                    </span>
                                                </ng-container>
                                            </div>
                                        </ng-template>
                                    </span>
                                    <span *ngIf="!list.answers.length">-</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="table-body" *ngIf="questionnaireResponseList?.length == 0">
                            <tr>
                                <td>No Records Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Below code for section wise showing questions-->
            <div class="row" *ngIf="isSectionWise">
                <div class="col mt-3 custom-table">
                    <table>
                        <tbody class="table-body" *ngIf="questionnaireResponseList?.length > 0">
                            <tr *ngFor="let ques of questionnaireResponseList; let j = index">
                                <div [ngClass]="j > 0 ?  'col custom-table mt-3' : 'col custom-table'">
                                    <div class="section">Section-{{j+1}}: {{getSectionName(ques)}}</div>
                                    <table>
                                        <tbody class="table-body" *ngIf="ques">
                                            <tr
                                                *ngFor="let list of questionnaireResponseList[j][getSectionName(ques)]; let i = index">
                                                <td class="question">

                                                    <span class="question-number">{{'Q'+list.sno}}</span> &nbsp;{{
                                                    list.question }}<br>
                                                    <ng-container *ngIf="list.questionImageUrl">
                                                        <span class="ques-resp-media"
                                                            (click)="openMedia(list.questionImageUrl)">
                                                            <img [src]="list.questionImageUrl">
                                                        </span>
                                                    </ng-container>
                                                </td>
                                                <td class="answer">
                                                    <span *ngFor="let answer of list.answers">
                                                        <div>
                                                            <span
                                                                *ngIf="!(list?.questionTypeId == 7 || list?.questionTypeId == 8); else media">
                                                                {{ ((list.questionTypeId != 9) ? answer.answer :
                                                                (answer.answer | date: 'MM/dd/yyyy')) || '-'}}
                                                            </span>
                                                            <span class="ml-3" *ngIf="answer.mediaUrl">
                                                                <ng-container *ngIf="answer.mediaType == 1">
                                                                    <span class="ques-resp-media"
                                                                        (click)="openMedia(answer.mediaUrl, list.questionTypeId)">
                                                                        <img [src]="answer.mediaUrl">
                                                                    </span>
                                                                </ng-container>
                                                                <ng-container *ngIf="answer.mediaType == 2">
                                                                    <span class="ques-resp-media"
                                                                        (click)="openMedia(answer.mediaUrl, list.questionTypeId)">
                                                                        <video>
                                                                            <source [src]="answer.mediaUrl"
                                                                                type="video/mp4">
                                                                        </video>
                                                                    </span>
                                                                </ng-container>
                                                            </span>
                                                        </div>

                                                        <ng-template #media>
                                                            <ng-container *ngIf="list?.questionTypeId == 7">
                                                                <span class="ques-resp-media"
                                                                    (click)="openMedia(answer.answer, list.questionTypeId)">
                                                                    <img [src]="answer.answer">
                                                                </span>
                                                            </ng-container>
                                                            <ng-container *ngIf="list?.questionTypeId == 8">
                                                                <span class="ques-resp-media"
                                                                    (click)="openMedia(answer.answer, list.questionTypeId)">
                                                                    <video>
                                                                        <source [src]="answer.answer" type="video/mp4">
                                                                    </video>
                                                                </span>
                                                            </ng-container>
                                                        </ng-template>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="((j+1) < questionnaireResponseList.length)" class="border-green"></div>
                            </tr>
                        </tbody>
                        <tbody class="table-body" *ngIf="questionnaireResponseList?.length == 0">
                            <tr>
                                <td>No Records Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 mt-3">
                    <div class="float-right">
                        <button class="btn btn-primary" type="button" (click)="back()">Back</button>&nbsp;&nbsp;
                        <button class="btn btn-secondary" type="button" (click)="close()">Close</button>&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #mediaContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">
            {{'View ' + (selectedMedia.type == 8 ? 'Video' : 'Image')}}
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <div class="close-wrapper">
                <span aria-hidden="true">&#10006;</span>
            </div>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mb-4" *ngIf="selectedMedia.type == 8; else image">
            <div class="col-12 video-wrapper">
                <video controls class="p-video videopath" controls autoplay width="100%" style="margin:0 auto;">
                    <source [src]="selectedMedia.url" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <ng-template #image>
            <div class="row mb-4 vertical-scroll">
                <div class="col-12">
                    <img [src]="selectedMedia.url" alt="pet" class="img-fluid" />
                </div>
            </div>
        </ng-template>
        <div class="row text-right">
            <div class="col-12 mb-4">
                <button type="button" class="btn btn-secondary btn-custom float-right" (click)="d('Cross click');">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</ng-template>