app-list-shipment {
.icon-trackShipThick:before {
    position: absolute;
    font-size: 15px;
    /* text-align: center; */
    top: 2px;
  }
  .icon-trackShip:before {
    position: absolute;
    font-size: 13px;
    /* text-align: center; */
    top: 4px;
    left: 0px;
  }
}