app-add-point-tracker {
    .heading-text {
        font: normal normal bold 18px/24px Titillium Web;
        letter-spacing: -0.36px;
        color: #00cf99;
        text-transform: uppercase;
        opacity: 1;
    }

    .b-1-green {
        border-bottom: 1px solid #37b57c;
    }
    .d-flex {
        display: flex;
        align-items: center;
    }
    .icon-card-list {
        bottom: 0px;
        box-shadow: none;
        width: 30px;
        height: 30px;
    }

    .select-custom.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 8px;
        width: 100%;
        // border: 0;
        padding: 8px;
        padding-right: 32px;
        // background: #FFF url(/assets/images/downArrow2.svg) no-repeat right;
        background: #fff url(../../../../../src/assets/images/downArrow2.png) no-repeat right;
    }

    .form-control.textbox {
        border-radius: 8px;
    }

    :host ::ng-deep datepicker .form-control {
        padding: 0.375rem 0.3rem !important;
    }

    .w-fieldset:disabled select {
        background: none !important;
        background-color: #e9ecef !important;
    }

    .PTeditfields {
        /* fieldset.w-fieldset {
            margin-top: -8px;
            margin-bottom: 5px;
        } */
        datepicker .form-control {
            padding-top: 2px !important;
            padding-bottom: 0px !important;
            height: inherit;
            line-height: 0 !important;
        }
        .selectsubActivity{
            padding: 0;
            margin-bottom: 0 !important;
            margin-top: 1px !important;
            select{
                height: calc(2.05rem + 3px) !important;
            }
        }
        datepicker .close-icon {
            top: 3px;
            right: 0px;
        }
    }
}
