<div class="content-box">
  <div class="login-form">
    <div class="content-hdr">
      <div class="row">
        <div class="col-12">Change Password</div>
      </div>
    </div>
    <div class="content-blk">
      <div class="content-block pt-2">
        <form [formGroup]="updateForm">
          <div class="row  mt-3">
            <div class="col-md-5">
              <fieldset class="w-fieldset form-item-align">
                <legend>
                  <label class="label">Current Password <span class="asterisk">*</span></label>
                </legend>
                <input class="form-control" autocomplete="off" type="password" [type]="showCurrentPassword ? 'text' : 'password'" formControlName="password" />
                <div class="input-group-addon px-3 pointer-cursor">
                  <i class="fa fa-eye-slash" *ngIf="showCurrentPassword" title="Hide Password" aria-hidden="true" (click)="showCurrentPassword = !showCurrentPassword"></i>
                  <i class="fa fa-eye" *ngIf="!showCurrentPassword" title="Show Password" aria-hidden="true" (click)="showCurrentPassword = !showCurrentPassword"></i>
                </div>
              </fieldset>
              <p *ngIf="
              updateForm.get('password').touched &&
              updateForm.get('password').invalid
            " class="text-danger">
                Current Password is required
              </p>
            </div>
            <div class="col-md-5">

            </div>
          </div>

          <div class="row  mt-3">
            <div class="col-md-5">
              <fieldset class="w-fieldset form-item-align">
                <legend>
                  <label class="label">New Password <span class="asterisk">*</span></label>
                </legend>
                <input class="form-control" autocomplete="off" type="password" formControlName="newPassword" [type]="showNewPassword ? 'text' : 'password'" />
                <div class="input-group-addon px-3 pointer-cursor">
                  <i class="fa fa-eye-slash" *ngIf="showNewPassword" title="Hide Password" aria-hidden="true" (click)="showNewPassword = !showNewPassword"></i>
                  <i class="fa fa-eye" *ngIf="!showNewPassword" title="Show Password" aria-hidden="true" (click)="showNewPassword = !showNewPassword"></i>
                </div>
              </fieldset>
              <p *ngIf="
              updateForm.get('newPassword').touched &&
              !updateForm.get('newPassword').dirty
            " class="text-danger">
                New Password is required
              </p>
            </div>
            <div class="col-md-5 ">
              <div *ngIf="
              updateForm.get('newPassword').dirty &&
              updateForm.get('newPassword').invalid
            " class="text-danger reqCond">
                New password must meet the following requirements:
                <ul>
                  <li>No white spaces</li>
                  <li>Minimum of 8 characters</li>
                  <li>Maximum of 15 characters</li>
                  <li>At least one uppercase</li>
                  <li>At least one lowercase</li>
                  <li>One digit 0-9</li>
                  <li>One special character from !@#$&^</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row  mt-3">
            <div class="col-md-5">
              <fieldset class="w-fieldset form-item-align">
                <legend>
                  <label class="label">Confirm Password <span class="asterisk">*</span></label>
                </legend>
                <input class="form-control" autocomplete="off" type="password" formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" />
                <div class="input-group-addon px-3 pointer-cursor">
                  <i class="fa fa-eye-slash" *ngIf="showConfirmPassword" title="Hide Password" aria-hidden="true" (click)="showConfirmPassword = !showConfirmPassword"></i>
                  <i class="fa fa-eye" *ngIf="!showConfirmPassword" title="Show Password" aria-hidden="true" (click)="showConfirmPassword = !showConfirmPassword"></i>
                </div>
              </fieldset>
              <p *ngIf="
              updateForm.get('confirmPassword').touched &&
              !updateForm.get('confirmPassword').dirty
            " class="text-danger">
                Confirm Password is required
              </p>
              <p *ngIf="
              updateForm.get('confirmPassword').dirty &&
              updateForm.get('confirmPassword').errors?.MatchPassword
            " class="text-danger">
             Password mismatch. Please try again.
              </p>
            </div>
            <div class="col-md-5">
            </div>
          </div>
          <div class="row">
            <div class="col mt-3 text-right">

              <button type="button" (click)="cancel()"
                class="btn btn-secondary btn-block float-left mr-3  font-weight-bold mt-3"
                style="font-weight:600 !important">
                Cancel
              </button>

              <button type="submit" (click)="update()" class="btn btn-primary btn-block font-weight-bold mt-3"
                style="font-weight:600 !important">
                Update
              </button>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>