.pwd-header {
    background: transparent linear-gradient(166deg, #30C19F 0%, #0F8BA2 100%) 0% 0% no-repeat padding-box;
    margin-bottom: 0px;
    color: white;
}
.text-danger.reqCond{
    position: absolute;
    top: -20px;
    ul{
        padding-left: 20px;
    }
}
.form-item-align{
    .input-group-addon{
        position: absolute;
        right: 10px;
        margin-top: -28px !important;
    }
    .form-control{
        padding-right:30px;
    }
}
