
.content-block{
    padding-top: 5px;
    .firmware-title{
        font: normal normal bold 18px/13px Titillium Web;
        letter-spacing: -0.9px;
        line-height: 2.5;
        color: #000000;
    }
}