.multiselect ng-multiselect-dropdown .multiselect-dropdown .dropdown-list {
    position:inherit !important;
}
.label {
    font: normal normal normal 14px/15px Titillium Web;
    letter-spacing: -0.3px;
    color: #4B4B5A;
}