<div class="content-box">
    <div class="content-hdr">
        <div class="row">
            <div *ngIf="viewFlag" class="col-6 block-left-center">
                View Pet Data Extract
            </div>
            <div *ngIf="!viewFlag" class="col-6 block-left-center">
                Add Pet Data Extract
            </div>
        </div>
    </div>
    <div class="content-blk">
        <div class="content-banner mb-3">
            <div class="row no-gutter border-1">
                <div class="col-6 block-left-center mb-2">
                    <span class="banner-heading-text">{{petExtractDetails.petName || '-'}}</span>
                    &nbsp;
                    <img src="../../../../assets/images/history.png" 
                    *ngIf="viewFlag"
                    title="History" alt="History" width="30px"
                                                class="mr-1 img-fluid pointer-cursor" (click)="getHistory();
                                                tooltipHover= [true]">
                </div>
            </div>
            <div class="row no-gutter mt-3">
                <div class="col-3">
                    <div class="box-wrap mr-3">
                        <div class="small-text">Pet Parent Name</div>
                        <div class="green-small-text">{{petParentName}}</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="box-wrap mr-3">
                        <div class="small-text">Gender</div>
                        <div class="green-small-text">{{petExtractDetails.gender}}</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="box-wrap mr-3">
                        <div class="small-text">Date Of Birth</div>
                        <div class="green-small-text">{{petDateOfBirth}} </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="box-wrap mr-3">
                        <div class="small-text">Breed</div>
                        <div class="green-small-text">{{petExtractDetails.breedName}}</div>
                    </div>
                </div>
                
            </div>
            <div class="mt-3" *ngIf="!viewFlag">
                <form [formGroup]="petStreamForm">
                    <div class="row">
                        <div class="col-12">
                            <div class="custom-table">
                                <div formArrayName="arr">
                                    <table>
                                        <thead class="table-hdr">
                                            <tr>
                                                <th *ngFor="let list of headers; let i = index"
                                                    [width]="list.width ? list.width : ''"
                                                >
                                                    {{ list.label }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            <ng-container *ngFor="let b of petStreamForm.get('arr')['controls']; 
                                    let i = index;let last =last">
                                                <tr [formGroupName]="i">
                                                    <td [ngClass]="b.value.data.petType =='P' ?  'primary-pet' : 'duplicate-pet'">
                                                        <span>{{b.value.data.petType}}</span>
                                                    </td>
                                                    <td>
                                                        {{b.value.data.petName}}
                                                    </td>
                                                    <td>
                                                        {{b.value.data.streamId}}
                                                    </td>
                                                    <td>

                                                        {{ b.value.data.studyName }}
                                                    </td>
                                                    <td>

                                                        {{ b.value.data.assetNumber}}
                                                    </td>
                                                    <td>
                                                        {{ b.value.data.startDate | date: 'MM/dd/yyyy'}}
                                                    </td>
                                                    <td>
                                                        {{ b.value.data.endDate | date: 'MM/dd/yyyy'}}
                                                    </td>
                                                    <span hidden>{{ b.value.data.streamDeviceSeqNum}}</span>
                                                    <td>
                                                        <datepicker class="w-100" formControlName="startDate"
                                                            format="MM-DD-YYYY"
                                                            [disabled]="petStreamForm.value.arr[i].isChecked"
                                                            [minDate]="b.value.data.startDate | date: 'MM-dd-yyyy'"
                                                            [maxDate]="(petStreamForm.value.arr[i].endDate || b.value.data.endDate) | date: 'MM-dd-yyyy'">
                                                        </datepicker>
                                                    </td>
                                                    <td>
                                                        <datepicker class="w-60 input-date" formControlName="endDate"
                                                            format="MM-DD-YYYY"
                                                            [disabled]="petStreamForm.value.arr[i].isChecked"
                                                            [minDate]="(petStreamForm.value.arr[i].startDate|| b.value.data.startDate) | date: 'MM-dd-yyyy'"
                                                            [maxDate]="b.value.data.endDate | date: 'MM-dd-yyyy'">
                                                        </datepicker>
                                                    </td>
                                                    <td>
                                                        <label class="chk-container">
                                                            <input type="checkbox" 
                                                            formControlName="isChecked"
                                                            id="flexCheckDefault"
                                                            (change)="excludeDataExtract($event,i)"
                                                            >
                                                            <span class="checkmark"></span>
                                                          </label>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="float-right">
                                    <button class="btn btn-secondary btn-block float-left mr-3  font-weight-bold mt-3"
                                        (click)="cancel()">Cancel</button>
                                    <button class="btn btn-primary btn-block font-weight-bold mt-3"
                                        (click)="submit()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="mt-3" *ngIf="viewFlag">
                <div class="row">
                    <div class="col-12">
                        <div class="custom-table">
                            <table>
                                <thead class="table-hdr">
                                    <tr>
                                        <th width="3%"></th>
                                        <th width="9%">Pet Name</th>
                                        <th width="3%">REQUEST ID</th>
                                        <th width="10%">REQUESTED BY</th>
                                        <th width="11%">STREAM</th>
                                        <th width="10%">STUDY</th>
                                        <th width="10%">ASSET NUMBER</th>
                                        <th width="10%">Start Date</th>
                                        <th width="10%">End Date</th>
                                        <th width="10%">Extract Start Date</th>
                                        <th width="9%">Extract End Date</th>
                                        <th width="5%">Exclude From Data Extract</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <ng-container>
                                        <tr *ngFor="let list of existingPetArr; let i=index">
                                            <td>
                                                <span [ngClass]="list.petType =='P' ?  'primary-pet-view' : 'duplicate-pet-view'">
                                                    {{list.petType}}
                                                </span>
                                            </td>
                                            <td >
                                                {{list.petName}}
                                            </td>
                                            <td>
                                                {{list.requestId}}
                                            </td>
                                            <td>
                                                {{list.requestedBy}}
                                            </td>
                                            <td>
                                                {{list.streamId}}
                                            </td>
                                            <td>
                                                {{list.studyName }}
                                            </td>
                                            <td>
                                                {{list.assetNumber}}
                                            </td>
                                            <td>
                                                {{ list.startDate ? (list.startDate | date: 'MM/dd/yyyy')  : '-'}}
                                            </td>
                                            <td>
                                                {{ ((list.endDate ? (list.endDate | date: 'MM/dd/yyyy') : '-')) }}
                                            </td>
                                            <td>
                                                {{ (list.extractStartDate | date: 'MM/dd/yyyy') || '-'}}
                                            </td>
                                            <td>
                                                {{ (list.extractEndDate | date: 'MM/dd/yyyy') || '-'}}
                                            </td>
                                            <td>
                                                <!-- <label class="chk-container">
                                                    <input type="checkbox" 
                                                    [checked]="list.excludeFromDataExtract == 1"
                                                    id="flexCheckDefault"
                                                    disabled
                                                    >
                                                    <span class="checkmark"></span>
                                                  </label> -->
                                                  {{list.excludeFromDataExtract == 1 ? 'Yes' : 'No'}}
                                               
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 mt-3" *ngIf="viewFlag">
                        <div class="float-right">
                            <button class="btn btn-secondary" (click)="cancel()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #historyContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <div class="close-wrapper">
          <span aria-hidden="true" class="icon-close"></span>
        </div>
      </button>
      <div class="heading">
        <h5 class="modal-title" id="modal-basic-title">
          {{streamHistory.length ?  streamHistory[0].dataStreamId : ''}} History<span class="ml-2 font-weight-normal">Assets:
            {{streamHistory.length}}</span>
        </h5>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-11">
          <b style="margin-top: 97px; float: left; clear: both;">Assigned</b>
          <ul class="timeline-horizontal">
            <ng-container *ngFor="let points of streamHistory;let i= index; let
              last= last">
              <li class="timeline-item" [ngClass]="'active-device' " [ngStyle]="{ 'width': !last ?
                (97/(streamHistory.length-1))+'%' : ''}">
                <div class="timeline-badge pointer-cursor" (mouseenter)="onHoverStream(i)"
                  (mouseleave)="onHoverStream(i)">
                </div>
                <div class="timeline-panel" [ngStyle]="{'display': tooltipHover[i] ? 'block' : 'none'}">
                  <div class="device-number"> {{points.assetNumber}}</div>
                  <div class="stream-date"><label>Extract Start Date:</label> {{getFormatted(points.startDate)}}</div>
                  <div class="stream-date"><label>Extract End Date:</label> {{getFormatted(points.endDate)}}</div>
                  <div class="asset-model"><label>Stream:</label>
                    {{points.stream}}</div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-4">
          <button type="button" class="btn btn-secondary btn-custom float-right" (click)="d('Cross click')">
            Close
          </button>
        </div>
      </div>
    </div>
  </ng-template>