.table thead th{
    color:#0FD6A8;
    border-bottom:1px solid #0FD6A8 !important;
    border-top:1px solid #0FD6A8 !important;
}
.card.icon-card-list{
    bottom:0 !important;
}
.table th, .table td{
    padding:0.5rem !important;
}
.btn.btn-primary.submit-record{
    line-height: 2;
}
.content-box .content-block {
    padding: 0px 30px;
}