.primary-pet {
    color: white;
    display: inline-block;
    width: 20px;
    background: #0fd6a8;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    margin-top: 5px;
    height: 20px;
    line-height: 1.3;
}
.duplicate-pet{
    color: white;
    display: inline-block;
    width: 20px;
    background: orange;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    margin-top: 5px;
    height: 20px;
    line-height: 1.3;
}
.timeline-horizontal {
    list-style: none;
    position: relative;
    padding: 20px;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 35px;
    display: inline-flex;

    .timeline-item {
        display: inline-block;
        position: relative;

        &:not(:last-child):before {
            height: 3px;
            top: auto;
            left: 24px;
            right: 0;
            width: calc(100% - 14px);
            position: absolute;
            content: " ";
            background-color: #eeeeee;
            bottom: 10px;
            display: flex;
        }

        .timeline-badge {
            color: #fff;
            width: 14px;
            height: 14px;
            line-height: 52px;
            font-size: 22px;
            text-align: center;
            position: absolute;
            top: auto;
            bottom: 4px;
            left: 35px;
            margin-left: -25px;
            background-color: #e8bf5f;
            border: 3px solid #e8bf5f;
            z-index: 100;
            border-radius: 50%;
        }

        .timeline-panel {
            position: absolute;
            top: auto;
            bottom: 8px;
            float: none !important;
            left: -74px !important;
            right: 0 !important;
            width: 185px;
            margin-bottom: 20px;
            border: 0.25px solid #b8c5d3;
            background: #fcefd0;
            border-radius: 5px;
            padding: 10px;
            font-size: 12px;

            &:before {
                position: absolute;
                display: inline-block;
                top: auto;
                bottom: -8px;
                left: 82px !important;
                right: auto;
                border-top: 8px solid #333 !important;
                border-bottom: 0 solid #333 !important;
                border-right: 8px solid transparent !important;
                border-left: 8px solid transparent !important;
                content: " ";
            }

            .device-number {
                color: #b78207;
                font-weight: bold;
                margin-bottom: 3px;
            }

            .stream-date,
            .asset-model {
                color: #707070;
                font-weight: bold;
                margin-bottom: 3px;

                label {
                    font-weight: normal;
                    margin-bottom: 0px;
                }
            }
        }

        &.active-device {
            .timeline-badge {
                background-color: #37b57b !important;
                border: 3px solid #37b57b !important;
            }

            .timeline-panel {
                background: #ebfbfd !important;

                .device-number {
                    color: #37b57b !important;
                }
            }
        }
    }
}