
  
  .pi_text {
      font: normal normal normal 13px/8px Titillium Web;
  letter-spacing: -0.32px;
  color: #30394C;
  }
  .phone_number_text {
      font: normal normal 600 13px/8px Titillium Web;
  letter-spacing: -0.36px;
  color: #00CF99;
  }


  
   .img-box-blue {
      background: #F4F0FF 0% 0% no-repeat padding-box;
      border-radius: 6px;
      width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
   }
  
   .icon-dog-blue {
    
   }


 
  .check {
    // margin-left: 5px;
  }
  .check input[type=checkbox]{
    width:20px;
    height: 20px;
  }
  .text-status {
    vertical-align: text-top;
  }