<form [formGroup]="addUserForm" (ngSubmit)='onSubmit(addUserForm.value)'>
  <div class="content-box">
    <div class="content-hdr">
      <div class="row">
        <div class="col-6 block-left-center">
          View User
        </div>
        <div class="col-6">
          <div class="float-right">
            <!-- <button *ngIf="RWFlag" class="btn btn-primary" type="button" (click)="addNewUser()">Add New User</button> -->
            <!-- <button *ngIf="RWFlag" class="btn btn-primary"
              routerLink="/user/clinical-user/edit-user/{{this.addUserForm.value.userId}}">Edit User</button> -->
            <button *ngIf="RWFlag && userInfo.isActive" class="btn btn-primary btn-pink"
              (click)="resetPasswordUser()">Reset Password</button>&nbsp;&nbsp;
            <button *ngIf="RWFlag" class="btn btn-primary" (click)="editUser()">Edit User</button>
          </div>
        </div>
      </div>
    </div>
    <div class="content-blk">
      <div class="content-banner mb-3">

        <div class="row no-gutter border-1">
          <div class="col-6 block-left-center mb-2">
            <span class="banner-heading-text">{{addUserForm.value.fullName}}</span>
            <span class="status-button" *ngIf="userInfo.isActive != undefined"
              [ngClass]="addUserForm.value.status == 'Active' ? 'active-bg' : 'inactive-bg'">{{addUserForm.value.status}}</span>
            <span class="icon-star" *ngIf="!isFav" (click)="makeFav()"></span>
            <span class="icon-star-filled" *ngIf="isFav" (click)="removeFav()"></span>
          </div>
          <div class="col-6">
            <div class="float-right mb-2">

            </div>
          </div>
        </div>

        <div class="row no-gutter mt-3">
          <!-- <div class="col-md col-sm-4 mb-2">
            <div class="row no-gutter">
              <div class="col-12">
                <div class="box-wrap mr-3">
                  <div class="small-text">Username</div>
                  <div class="green-small-text">{{addUserForm.value.userName}}</div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-md col-sm-4 mb-2">
            <div class="row no-gutter">
              <div class="col-12">
                <div class="box-wrap mr-3">
                  <div class="small-text">Full Name</div>
                  <div class="green-small-text">{{addUserForm.value.fullName}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md col-sm-4 mb-2">
            <div class="row no-gutter">
              <div class="col-12">
                <div class="box-wrap mr-3">
                  <div class="small-text">Role Type</div>
                  <div class="green-small-text">{{userInfo.roleTypeName}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md col-sm-4 mb-2">
            <div class="row no-gutter">
              <div class="col-12">
                <div class="box-wrap mr-3">
                  <div class="small-text">Email</div>
                  <div class="green-small-text">{{addUserForm.value.email}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md col-sm-4 mb-2">
            <div class="row no-gutter">
              <div class="col-12">
                <div class="box-wrap mr-3">
                  <div class="small-text">Role</div>
                  <div class="green-small-text">{{addUserForm.value.role}}</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="navtabsBackground">
        <ul ngbNav class="row nav-tabs tabsDesign">
          <li class="col" [ngbNavItem]="flatTab.name" *ngFor="let flatTab of flatTabs">
            <a ngbNavLink [routerLink]="flatTab.link" [queryParams]="queryParams" routerLinkActive="active-link"
              (click)="activateTab(flatTab)"><span>{{ flatTab.name }}</span></a>
          </li>
        </ul>
      </div>

      <router-outlet></router-outlet>

    </div>
  </div>
</form>