<div class="login-form">
  <h4 class="mt-3">Please update your password</h4>
  <form [formGroup]="updateForm">
    <div class="form-group mt-3 relative form-item-align">
      <label for="password">Current Password</label>
      <input class="form-control" autocomplete="off" type="password" [type]="showCurrentPassword ? 'text' : 'password'"
        formControlName="password" />
      <div class="input-group-addon  pointer-cursor">
        <i class="fa fa-eye-slash" *ngIf="showCurrentPassword" title="Hide Password" aria-hidden="true"
          (click)="showCurrentPassword = !showCurrentPassword"></i>
        <i class="fa fa-eye" *ngIf="!showCurrentPassword" title="Show Password" aria-hidden="true"
          (click)="showCurrentPassword = !showCurrentPassword"></i>
      </div>
      <p *ngIf="updateForm.get('password').touched && updateForm.get('password').invalid" class="text-danger">
        Current Password is required
      </p>
    </div>

    <div class="form-group mt-4 relative form-item-align">
      <label for="newPassword">New Password</label>
      <input class="form-control" autocomplete="off" type="password" [type]="showNewPassword ? 'text' : 'password'"
        formControlName="newPassword" />
      <div class="input-group-addon pointer-cursor">
        <i class="fa fa-eye-slash" *ngIf="showNewPassword" title="Hide Password" aria-hidden="true"
          (click)="showNewPassword = !showNewPassword"></i>
        <i class="fa fa-eye" *ngIf="!showNewPassword" title="Show Password" aria-hidden="true"
          (click)="showNewPassword = !showNewPassword"></i>
      </div>
      <p *ngIf="updateForm.get('newPassword').touched && !updateForm.get('newPassword').dirty" class="text-danger">
        New Password is required
      </p>
      <div *ngIf="updateForm.get('newPassword').dirty && updateForm.get('newPassword').invalid"
        class="text-danger reqCond">
        New password must meet the following requirements:
        <ul>
          <li>No white spaces</li>
          <li>Minimum of 8 characters</li>
          <li>Maximum of 15 characters</li>
          <li>At least one uppercase</li>
          <li>At least one lowercase</li>
          <li>One digit 0-9</li>
          <li>One special character from !@#$&^</li>
        </ul>
      </div>
    </div>
    <div class="form-group mt-4 relative form-item-align">
      <label for="confirmPassword">Confirm Password</label>
      <input class="form-control" autocomplete="off" type="password" [type]="showConfirmPassword ? 'text' : 'password'"
        formControlName="confirmPassword" />
      <div class="input-group-addon pointer-cursor">
        <i class="fa fa-eye-slash" *ngIf="showConfirmPassword" title="Hide Password" aria-hidden="true"
          (click)="showConfirmPassword = !showConfirmPassword"></i>
        <i class="fa fa-eye" *ngIf="!showConfirmPassword" title="Show Password" aria-hidden="true"
          (click)="showConfirmPassword = !showConfirmPassword"></i>
      </div>
      <p *ngIf="updateForm.get('confirmPassword').touched && !updateForm.get('confirmPassword').dirty"
        class="text-danger">
        Confirm Password is required
      </p>

      <p *ngIf="updateForm.get('confirmPassword').dirty && updateForm.get('confirmPassword').errors?.MatchPassword"
        class="text-danger">
        Password mismatch. Please try again.
      </p>
    </div>

    <button type="submit" (click)="update()" class="btn btn-primary btn-block font-weight-bold"
      style="font-weight:600 !important">
      Update
    </button>
  </form>
  <!-- spinner -->
  <ngx-spinner bdColor="rgba(0,0,0,.6)" class="mySpinner">
    <img src='assets/images/loader.gif' />
  </ngx-spinner>
  <!-- spinner -->
</div>