.bulkUploadContent{
    position: relative;
    background: #FFFFFF;
    padding: 5px;
    .uploadBlk{
        border:1px dashed #ddd;
        padding: 15px;
    }
}
.blue-hdr {
    background-color: #16d2b4;
    color: white;
    display: block;
    width: 100%;
    padding: 1px 10px;
}