app-device-tracking-report {
.select-box.form-control:not([size]):not([multiple]) {
    height: 40px;
    border: 0;
}
.current-view{
    font-size: 16px;
    margin-top: 10px;
    color: #00CF99;
    font-weight: 700;
    text-transform: uppercase;
}
.select-box{
    font: normal normal bold 19px/19px Titillium Web;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0px 2px 13px #d1d5df80;
    border-radius: 8px;
    border: 1px solid #ddd !important;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 10px;
    line-height: 1.2;
    padding-right: 32px;
    background: #FFF url(../../../../../src/assets/images/downArrow.png) no-repeat right;
    opacity: 1;
    option {
        font: normal normal 14px/19px Titillium Web;
        color: #000000;
    }
}
.form-control:focus {
    box-shadow: 0 0 0 0 rgb(116 96 238 / 25%);
}

.word-wrap{
    word-wrap: break-word;
}
.count-text {
    letter-spacing: -.6px;
    color: #212f3a;
    margin-top: 5px;
    font-size: 20px;
}
.small-text {
    font: normal normal 700 13px/15px Titillium Web;
    letter-spacing: -.4px;
    color: #212f3a;
}
.box-wrap{
    padding-top: 10px;
}

 

}