.icon-card-list {
  bottom: 0px;
  box-shadow: none;
  width: 30px;
  height: 30px;
}
.label.legendLabel {
  font-size: 15px;
}
h3.mainTitle {
  font-size: 19px;
  font-weight: 700;
}
.ulList li {
  list-style-type: decimal;
}
.disabledbutton {
  pointer-events: none;
  background: #e9ecef;
}