<div class="content-box">
    <div class="content-hdr">
      <div class="row">
        <div class="col-6 block-left-center">View Questionnaire
        </div>
      </div>
    </div>
    <div class="content-blk">
      <div class="content-banner mb-3">
        <div class="row no-gutter">
          <div class="col-6 block-left-center mb-2">
            <span class="banner-heading-text mr-2">{{data.questionnaireName}}</span>
            <span class="status-button" *ngIf="data.questionnaireName"
              [ngClass]="!data.isActive ? 'inactive-bg': (!data.isPublished ? 'active-bg' : 'info-bg')">{{!data.isActive
              ?
              "Inactive" : (!data.isPublished ? "Draft" : "Published")}}</span>
          </div>
  
        </div>
  
        <!-- <div class="row no-gutter pb-3 mt-3" [ngClass]="data?.sections?.length ? 'border-1' : ''">
          <div class="col-3">
            <div class="row no-gutter">
              <div class="col-12">
                <div class="box-wrap mr-3">
                  <div class="small-text">Type</div>
                  <div class="green-small-text">{{data.questionnaireType }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row no-gutter">
              <div class="col-12">
                <div class="box-wrap mr-3" *ngIf="data.questionnaireTypeId == 1">
                  <div class="small-text">Level</div>
                  <div class="green-small-text">{{data.questionnaireLevel || '-'}}</div>
                </div>
                <div class="box-wrap mr-3" *ngIf="data.questionnaireTypeId == 2">
                  <div class="small-text">Category</div>
                  <div class="green-small-text">{{data.questionnaireCategory || '-'}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row no-gutter">
              <div class="col-12">
                <div class="box-wrap mr-3">
                  <div class="small-text">Start Date</div>
                  <div class="green-small-text">{{data.startDate | date: 'MM/dd/yyyy'}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row no-gutter">
              <div class="col-12">
                <div class="box-wrap mr-3">
                  <div class="small-text">End Date</div>
                  <div class="green-small-text">{{data.endDate | date: 'MM/dd/yyyy'}}</div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
  
      <div class="content-block">
        <div class="d-flex  justify-content-end mb-3">
            <div class="checkbox-wrapper">
                <label>
                    <input type="checkbox" class="check checkbox-width-20" 
                    [(ngModel)]="includeAll"
                    (change)="isIncludeAll()"
                         />
                    <span class="label">
                        Include all questions in Data Extract
                    </span>
                </label>
            </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <ng-container *ngIf="data?.sections?.length; else questionsWithoutSectionsTemplate" >
              <ngb-accordion [closeOthers]="true" class="sections-accordion">
                <ng-container *ngFor="let section of data.sections; let i = index">
                  <ngb-panel id="{{i}}"
                    *ngIf="data.sectionWiseQuestions && data?.sectionWiseQuestions[i][section.sectionName]?.length"
                    >
                    <ng-template ngbPanelTitle>
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-column pr-4">
                          <small class="mb-2 font-weight-bold">Section {{i+1}} of
                            {{data.sections.length}}</small>
                          <span class="section mb-2 pl-0" *ngIf="section.sectionName">{{section?.sectionName}}
                          </span>
                          <pre class="sectionDescription-align text-small"
                            [innerHTML]="section?.sectionDescription"></pre>
                        </div>
                        <div class="d-flex my-auto"><i class="icon-right-arrow"></i></div>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <ng-container [ngTemplateOutlet]="questionsTemplate"
                        [ngTemplateOutletContext]="{questions: data.sectionWiseQuestions[i][section.sectionName], sectionIndex: i}">
                      </ng-container>
                    </ng-template>
                  </ngb-panel>
                </ng-container>
              </ngb-accordion>
            </ng-container>
  
            <div class="row " *ngIf="data?.questions?.length == 0">
              <div class="col-12">
                No Questions Found.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-3">
            <div class="float-right">
              <button class="btn btn-secondary" type="button" (click)="back()">Back</button>&nbsp;&nbsp;
              <button class="btn btn-primary" type="button" (click)="update()">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #questionsWithoutSectionsTemplate>
    <ng-container [ngTemplateOutlet]="questionsTemplate" 
    [ngTemplateOutletContext]="{questions: data?.questions}">
    </ng-container>
  </ng-template>
  
  <ng-template #questionsTemplate let-questions="questions" let-sectionIndex="sectionIndex">
    <div class="ques">
      <ngb-accordion [closeOthers]="true" class="study-questions-accordion">
        <ngb-panel id="{{quesIndex}}" 
        *ngFor="let ques of questions; let quesIndex = index;"
        >
          <ng-template ngbPanelTitle>
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column pr-4">
                <div>
                  <span class="position-absolute">
                    <b>{{"Q" + ques.questionOrder}}</b>
                  </span>
                  <span class="question mb-2">{{ques.question}}
                    <span *ngIf="ques.isMandatory" class="asterisk">*</span>&nbsp;&nbsp;
                    <span>({{ques.questionType}})</span>
                  </span>
                </div>
                <img [src]="ques.questionImageUrl" width="100px" class="img-fluid ml-5" *ngIf="ques.questionImageUrl">
                <div class="ml-5" *ngIf="ques.suffleOptionOrder || ques.validityPeriod || ques.isIncludeInDataExtract">
                  <ul class="my-1">
                    <li *ngIf="ques.suffleOptionOrder">Shuffle Option Order</li>
                    <li *ngIf="ques.isIncludeInDataExtract">Include In Data Extract</li>
                    <li *ngIf="ques.validityPeriod">Validity - {{ques.validityPeriod}} days</li>
                  </ul>
                </div>
              </div>
              <div class="d-flex my-auto"><i class="icon-right-arrow"></i></div>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            
            <div class="row px-4" *ngIf="ques.questionTypeId == 1 || ques.questionTypeId == 2">
              <div class="col-12 mb-2" *ngFor="let opt of ques.questionAnswerOptions; let optionIndex = index"
                [selected]="optionIndex == 0">
                <div class="row">
                  <div class="col-5 my-auto">
                    {{optionIndex + 1}}. {{opt.questionAnswer}} <br>
                    <img *ngIf="opt.ansOptionMediaUrl" [src]="opt.ansOptionMediaUrl" class="img-fluid ml-3 mt-2"
                      width="100px">
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="ques.questionTypeId == 3">
              <div class="row px-4" *ngFor="let opt of ques.questionAnswerOptions; let optionIndex = index">
                <div class="col-12">
                  {{optionIndex + 1}}. {{opt.questionAnswer}}<br>
                  <img *ngIf="opt.ansOptionMediaUrl" [src]="opt.ansOptionMediaUrl" class="img-fluid ml-3 mt-2"
                    width="100px">
                </div>
                <div class="col-12" *ngIf="opt.submitQuestionnaire">
                  <ul class="my-1">
                    <li *ngIf="opt.submitQuestionnaire">Submit Questionnaire</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row px-4" *ngIf="ques.questionTypeId == 4 || ques.questionTypeId == 5 || ques.questionTypeId == 9">
              <div class="col-12">
                <div class="text" *ngIf="ques.questionTypeId == 4">
                  <label>
                    <input type="text" class="form-control d-inline-block" disabled>
                  </label>
                </div>
  
                <div class="text" *ngIf="ques.questionTypeId == 5">
                  <label>
                    <textarea class="form-control d-inline-block" disabled></textarea>
                  </label>
                </div>
  
                <div class="text" *ngIf="ques.questionTypeId == 9">
                  <label>
                    <input type="text" placeholder="MM-DD-YYYY" class="form-control d-inline-block" disabled>
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="ques.questionTypeId == 6">
              <div *ngFor="let opt of ques.questionAnswerOptions">
                <div class="row px-4">
                  <div class="col-3 m-auto">
                    {{opt.questionAnswer}}
                  </div>
                  <div class="col-9">
                    <div class="custom-slider" [ngClass]="ques.other.vertical ? 'vertical' : ''">
                      <ngx-slider [options]="ques.other"></ngx-slider>
                      <p class="floorDesc">{{ques.other.floorDescription}}</p>
                      <p class="ceilDesc">{{ques.other.ceilDescription}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row px-4" *ngIf="ques.questionTypeId == 7 || ques.questionTypeId == 8">
              <div class="col-12">
                <div class="cloud-img ml-4"><i class="icon-upload size-40"></i></div>
              </div>
            </div>
            <div class="d-flex px-4 ques-footer mt-3 py-3">
                  <div >
                    <div class="checkbox-wrapper">
                      <label>
                        <input type="checkbox" class="check checkbox-width-20" (change)="verifyisAllInclude(quesIndex,$event)"
                        [(ngModel)]="questionsModel[quesIndex].isIncludeInDataExtract"
                          />
                        <span class="label">
                          Include In Data Extract
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="validity-item">
                    <div class="d-flex">
                      <input type="text" class="form-control d-inline" placeholder="Validity"
                      [(ngModel)]="questionsModel[quesIndex].validityPeriod"
                      [readOnly]="!questionsModel[quesIndex].isIncludeInDataExtract"
                        >&nbsp;
                      <span class="mt-2">days</span>
                    </div>
                    <div *ngIf="questionsModel[quesIndex].validityPeriod" 
                    class="error-message">
                    <span *ngIf="questionsModel[quesIndex].validityPeriod < 0">Value cannot be less than 0</span>
                    <span *ngIf="questionsModel[quesIndex].validityPeriod > 999">Value cannot be greater than 999</span>
                  </div>
                  </div>
          </div>
        </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </ng-template>
  
  <ng-template #confirmPublish let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">
        Publish Questionnaire?
      </h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
        <div class="close-wrapper">
          <span class="icon-close" aria-hidden="true"></span>
        </div>
      </button>
    </div>
    <div class="modal-body">
      <div class="row mb-4">
        <div class="col-12">
          Published questionnaires cannot be modified. Do you still want to publish questionnaire?
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12 mb-4">
          <button type="button" class="btn btn-primary btn-custom mr-3" (click)="d('Cross click');publish()">
            Yes
          </button>
          <button type="button" class="btn btn-secondary btn-custom" (click)="d('Cross click');">
            No
          </button>
        </div>
      </div>
  
    </div>
  </ng-template>