app-add-associated-study{
  .mtop-15 {
      margin-top: 10px;
  }
  .icon-card-list {
      bottom:0px;
      box-shadow: none;
      width: 30px;
      height: 30px;
  }
  .center-align {
      display: flex;
      align-items:center;
      // flex-direction: row-reverse;
  }
  .labelfield{
    .w-fieldset{
      border: 0;
      padding: 0 0;
      legend{
        font-size: 14px;
      }
      .form-control:disabled, 
      .form-control[readonly]{
        background-color: #FFF!important;
        background: none !important;
        padding: 0 10px;
      }
      div{
        padding: 0 15px;
      }
    }
  }
}
